.services_container {
    margin-top: 5rem;
}

.services_div {
    display: flex;
    margin-top: 5rem;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.service_card {
    background-color: var(--color-bg-variant);
    border-radius: 0 0 30px 30px;
    flex: 1;
    border: 2px solid var(--color-primary);
}

.service_card_title {
    background-color: var(--color-primary);
    color: var(--color-bg-variant);
    border-radius: 0 0 30px 30px;
    padding: 2rem;
    text-align: center;
}

.service_card_items {
    padding: 2rem 4rem;
}

.service_card_items > ul > li {
    display: flex;
    gap: 2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .service_card_items {
        padding: 2rem;
    }
}
