.about_container {
    margin-top: 5rem;
}

.about_description {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.profile_pic_wrapper{
    background: linear-gradient(var(--color-primary), var(--color-light));
    /* padding: 1rem; */
    border-radius: 50px;
    width: 24rem;
    height: 24rem;
}

.profile_pic_container {
    flex: 1;
}

.profile_pic_v2 {
    width: 24rem;
    height: 24rem;
    -webkit-transform: scaleX(-1) rotate(10deg);
    transform: scaleX(-1) rotate(10deg);
    border-radius: 50px;
}

.about_description_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* align-items: center; */
}

.about_description_text p {
    margin-top: 2rem;
}

.cardContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.aboutCard {
    width: 12rem;
    height: 12rem;
    background: var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.aboutCard span {
    color: var(--color-primary);
    font-size: 24px;
}

.aboutCard h5 {
    color: var(--color-light);
}

.cta_about {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    align-self: flex-start;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1400px) {
    .profile_pic_wrapper {
        width: 16rem;
        height: 26rem;
    }
    .profile_pic_v2 {
        width: 16rem;
        height: 26rem;
    }
}

@media screen and (max-width: 1200px) {
    .profile_pic_container {
        display: none;
    }
    .about_description_text {
        align-items: center;
        text-align: center;
    }
    .cta_about {
        align-self: center;
    }
}

@media screen and (max-width: 1024px) {
    .profile_pic_container {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .about_description_text {
        /* flex-direction: row;
        align-items: flex-start; */
        /* text-align: left; */
        /* justify-content: space-between; */
        gap: 2rem;
    }
    .about_description_text p {
        margin-top: 0;
    }
    .cardContainer {
        /* flex-direction: column; */
    }
    .aboutCard {
        width: 9rem;
        height: 9rem;
    }
    .aboutCard span {
        color: var(--color-primary);
        font-size: 20px;
    }

    .aboutCard h3 {
        font-size: 16px;
    }
    
    .aboutCard h5 {
        color: var(--color-light);
        font-size: 12px;
    }
    
    .cta_about {
        margin-top: 2.5rem;
        display: flex;
        gap: 1.2rem;
        align-items: center;
        justify-content: center;
        /* align-self: flex; */
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 580px) {
    .about_description_text {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        gap: 2rem;
    }
    .about_description_text p {
        margin-top: 0;
    }
    .cardContainer {
        flex-direction: column;
    }
    .aboutCard {
        width: 9rem;
        height: 9rem;
    }
    .aboutCard span {
        color: var(--color-primary);
        font-size: 20px;
    }

    .aboutCard h3 {
        font-size: 16px;
    }
    
    .aboutCard h5 {
        color: var(--color-light);
        font-size: 12px;
    }
    
    .cta_about {
        margin-top: 2.5rem;
        display: flex;
        gap: 1.2rem;
        align-items: center;
        justify-content: flex-start;
        /* align-self: flex; */
    }
}