.about_container {
  margin-top: 5rem;
}

.about_description_text_n_cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.about_cards {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about_card {
  width: 12rem;
  height: 12rem;
  background: var(--color-bg-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.cta_about {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.about_card span {
  color: var(--color-primary);
  font-size: 24px;
}

.about_card h5 {
  color: var(--color-light);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1400px) {
  .about_description_text_n_cards {
    grid-template-columns: 1fr;
  }
  .about_cards {
    justify-content: center;
  }
  .about_description {
    margin-top: 2rem;
    text-align: center;
  }
  .about_description_text {
    margin: 0 auto;
  }
  .cta_about {
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .about_description_text_n_cards {
    grid-template-columns: 1fr;
  }
  .about_cards {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about_card {
    width: 80%;
  }
  .about_description {
    margin-top: 2rem;
    text-align: center;
  }
  .about_description_text {
    margin: 0 auto;
  }
  .cta_about {
    justify-content: center;
  }
}

/* @media screen and (max-width: 1024px) {
}

@media screen and (max-width: 720px) {
}
*/

@media screen and (max-width: 580px) {
  .about_container {
    margin-top: 1rem;
  }
}
